:root {
    --background: hsl(222 47% 6%);

    --primary: hsl(217 91% 60%);
    --secondary: hsl(222 47% 12%);
    --border: hsl(217 91% 60% / 0.3);

    --text: hsl(215 20% 65%);
    --light-text: hsl(218, 65%, 97%);
    --title-text: var(--primary);

    --border-radius: 0.6rem;
    --border-radius-2: 0.3rem;

    --text-size: 1.1rem;
    --text-size-2: 1.4rem;

    --padding: 12px;
    --padding-2: 16px;
    --padding-3: 32px;
    --padding-4: 64px;
}

@font-face {
    font-family: Michroma;
    src: url(assets/fonts/Michroma-Regular.ttf);
}

body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    text-align: center;
    padding: 0;
    padding-top: 150px;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    max-width: 100vw;
}

body:has(dialog[open]) {
    overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background); 
}
 
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary); 
}

h1, h2, h3, h4 {
    font-family: Michroma, sans-serif;
    color: var(--title-text);
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    text-shadow: 0 0 80px var(--primary);
}

h2 {
    font-size: 3rem;
    text-shadow: 0 0 15px var(--primary);
    font-weight: 400;
}

h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

h4 {
    font-weight: 400;
    font-size: 1.2rem;
}

a {
    color: var(--primary);
}

span, p {
    font-size: var(--text-size);
}

button {
    background-color: var(--primary);
    color: var(--light-text);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--text-size);
    display: flex;
    align-items: center;
    padding: var(--padding) var(--padding-2);
    cursor: pointer;
    transition: 0.3s ease all;
}

button:hover {
    filter: brightness(75%);
}

button svg {
    width: var(--text-size);
}

button a {
    background-color: var(--primary);
    color: var(--light-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--padding-2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding) 12vw;
    border-bottom: 1px solid var(--border);
    position: fixed;
    top: 0;
    z-index: 10;
    width: calc(100% - (12vw * 2));
    backdrop-filter: blur(10px);
}

footer {
    display: flex;
    flex-direction: column;
    gap: var(--padding-2);
    padding: var(--padding-3);
    border-top: 1px solid var(--border);
    margin-top: 150px;
    font-size: 0.8rem;
}

footer span {
    font-size: 0.8rem;
}

.banner-container {
    width: 100%;
    margin-top: 80px;
}

.banner {
    width: 100%;
    max-width: 64rem;
    box-shadow: 0 0 15px var(--primary);
}

img, video {
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.portfolio-categories {
    display: flex;
    justify-content: center;
    gap: var(--padding-3);
    margin-top: var(--padding-3);
}

.portfolio-categories button {
    font-size: 1rem;
}

.portfolio-categories button:not(.selected) {
    outline: 1px solid var(--primary);
    background-color: var(--secondary);
}

.portfolio-showcase .box {
    width: 20rem;
    height: 12rem;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
}

.portfolio-showcase {
    display: none;
    gap: var(--padding-3);
    margin-top: var(--padding-3);
    will-change: transform;
    animation: portfolioShowcaseScrolling 20s linear infinite;
}

.portfolio-showcase.selected {
    display: flex;
}

.portfolio-showcase:hover {
    animation-play-state: paused;
}

.portfolio-showcase .box img, .portfolio-showcase .box video {
    width: 20rem;
    height: 12rem;
    transition: 0.3s ease all;
    border: none;
    object-fit: cover;
}

.portfolio-showcase .box img:hover, .portfolio-showcase .box video:hover {
    transform: scale(1.05);
}

.portfolio-showcase .box-container {
    display: flex;
    gap: var(--padding-3);
    flex-shrink: 0
}

@keyframes portfolioShowcaseScrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 100vw));
    }
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-container {
    max-width: 50rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--padding);
    margin-top: var(--padding-3);
}

.team-container span {
    background-color: var(--secondary);
    padding: var(--padding);
    border-radius: var(--border-radius);
    transition: 0.3s ease all;
    display: flex;
    align-items: center;
    gap: var(--padding);
}

.team-container span img {
    border-radius: 1000px;
    height: calc(var(--text-size) * 1);
    display: none;
}

.team-container span::before {
    content: "@";
    color: var(--primary);
}

.team-container span:hover::before {
    display: none;
}

.team-container span:hover img {
    display: block;
}

.join {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join .discord-button {
    padding: var(--padding-2) var(--padding-3);
    margin-top: var(--padding-3);
}

.join .discord-button span {
    font-size: var(--text-size-2);
}

.join .discord-button svg {
    width: var(--text-size-2);
}

header .discord-button {
    background: linear-gradient(90deg, #3c83f6 0%, #5b9aff 40%, #3c83f6 70%, #5b9aff 100%);
    box-shadow: 0 0 9px var(--primary);
}

header .discord-button a {
    background: none;
}

dialog[open] {
    display: flex;
}

.popup {
    backdrop-filter: brightness(50%);
    position: fixed;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: none;
    color: var(--text);
    border: 0;
}

.popup .terms-popup-buttons button:not(.selected) {
    outline: 1px solid var(--primary);
    background-color: var(--secondary);
}

.popup .terms-and-privacy .terms, .popup .terms-and-privacy .privacy {display: none;}

.popup .terms-and-privacy .show {
    display: block;
}

.popup-content {
    background-color: var(--background);
    width: 700px;
    max-width: 50vw;
    max-height: 60vh;
    padding: var(--padding-3);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--padding-3);
    overflow-y: auto;
}

.popup-content h3 button {
    background: none;
    fill: #fff;
    padding: 0;
}

.popup-content h3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.terms-popup-buttons {
    display: flex;
    gap: var(--padding-2);
}

.join-team-popup .images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--padding-2);
}

.join-team-popup img {
    width: 45%;
    min-width: 150px;
}

.bg-squares div {
    animation: 3s ease-in-out 0s infinite normal none running fade-square;
    background-color: var(--primary);
    opacity: 0.025;
    border-radius: var(--border-radius);
    position: absolute;
    z-index: -2;
}

@keyframes fade-square {
    0%, 100% {
        opacity: 0.025;
    }
    50% {
        opacity: 0.1;
    }
}

@media only screen and (max-width: 600px) {
  header button span {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  header button {
    display: none;
  }

  header {
    justify-content: center;
  }

  header .start img {
    display: none;
  }
}

p, ul {
    margin: 0;
}

hr {
    width: calc(100% - var(--padding));
    color: #fff;
}

header .start img {
    height: 48px;
    border: 0;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
        text-shadow: 0 0 15px var(--primary);
    }

    h2 {
        font-size: 1.5rem;
        text-shadow: 0 0 15px var(--primary);
        font-weight: 400;
    }

    h3 {
        font-weight: 400;
        font-size: 1.2rem;
    }

    h4 {
        font-weight: 400;
        font-size: 1.15rem;
    }

    p, span, button, a {
        font-size: 0.8rem;
    }

    .portfolio-categories button {
        font-size: 0.8rem;
    }

    .portfolio-categories {
        display: flex;
        flex-wrap: wrap;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-showcase .box img, .portfolio-showcase .box {
        width: 12rem;
        height: 7rem;
    }

    .portfolio-showcase {
        animation: none;
        overflow-x: scroll;
    }

    .banner {
        max-width: 80vw;
    }
}










